<mat-card>
    <mat-card-title class="card-title">
        <span *ngIf="!isReplying">
            Add a new comment
        </span>

        <span *ngIf="isReplying">
            Add a new reply
        </span>
    </mat-card-title>

    <mat-card-content class="p-1">
        <form [formGroup]="form">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Content</mat-label>
                <textarea matInput [formControlName]="'text'" rows="5"></textarea>
                <mat-hint>{{form.get('text')?.value ? form.get('text')?.value?.length : 0}}/1000 characters</mat-hint>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions matDialogActions [align]="'end'">
        <button mat-raised-button (click)="onSubmit()">Save</button>
        <button mat-raised-button (click)="onClose()">Close</button>
    </mat-card-actions>
</mat-card>
