.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 200px;
}

.active-nav {
    background-color: #3f51b5;
    color: white;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}


mat-toolbar {
    z-index: 50 !important;

    &.mat-primary {
        z-index: 50 !important;
    }
}
