<mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.target" routerLinkActive="active-nav">
                <mat-icon matlisticon>{{item.icon}}</mat-icon>
                {{item.label}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span><b>commune</b></span>
            <img class="avatar avatar-navbar link"
                 [src]="authUser.user.avatar ? mediaUrl + authUser.user.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                 routerLink="/profile/{{authUser.user.id}}">
            <!--                <mat-icon matBadge="15" matBadgeColor="warn">circle_notifications</mat-icon>-->
        </mat-toolbar>
        <mat-progress-bar *ngIf="loadingService.loading" mode="indeterminate"></mat-progress-bar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
