<span fxLayout="row" fxLayoutGap="1em">

    <img class="avatar avatar-thumb link" *ngIf="!comment.author.is_deleted" routerLink="/profile/{{comment.author.id}}"
         [src]="comment.author.avatar ? (mediaUrl + comment.author.avatar) : 'assets/resources/img/default_avatar_48dp.svg'"
         matTooltip="{{comment.author.username}}">

    <img class="avatar avatar-thumb link" *ngIf="comment.author.is_deleted"
         src="assets/resources/img/default_avatar_48dp.svg"
         matTooltip="Deleted user">

    <span class="comment-content" fxLayout="column" fxLayoutGap="2px">
        <span class="mat-body-2">{{comment.text}}</span>
        <span *ngIf="!comment.updated_at" class="mat-caption"
              matTooltip="Created at {{comment.created_at | date: 'dd/MM/yyyy hh:mm a'}}">{{comment.created_at | date: 'dd/MM/yyyy'}}</span>
        <span *ngIf="comment.updated_at" class="mat-caption"
              matTooltip="Edited at {{comment.updated_at | date: 'dd/MM/yyyy hh:mm a'}}">Edited at {{comment.updated_at | date: 'dd/MM/yyyy'}}</span>

        <app-comment-thread *ngIf="comment.replies" [comments]="comment.replies"></app-comment-thread>

        <button *ngIf="!comment.comment_id" mat-icon-button color="primary" (click)="reply()">
            <mat-icon>reply</mat-icon>
        </button>
    </span>
</span>
