<mat-card>
    <mat-card-title class="card-title">
        <h1>Not found</h1>
    </mat-card-title>

    <mat-card-content>
        <p>
            The page you are looking for has not been found.
        </p>
    </mat-card-content>
</mat-card>

