<mat-card>
    <mat-card-header>
        <span fxLayout="column">
            <img class="avatar link"
                 [src]="user?.avatar ? mediaUrl + user.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                 routerLink="/profile/{{user.id}}"
                 loading="lazy"/>
            <mat-card-title-group>
                <mat-card-title>
                    <mat-chip>{{user.username}}</mat-chip>
                </mat-card-title>
                <mat-card-subtitle>{{user?.subtitle}}</mat-card-subtitle>
            </mat-card-title-group>
        </span>
    </mat-card-header>
</mat-card>
