<mat-card>
    <mat-card-title class="mat-card-title">
        Create a new post
    </mat-card-title>

    <mat-card-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="1em">
            <mat-form-field appearance="outline">
                <mat-label>Content</mat-label>
                <textarea matInput [formControlName]="'text'" rows="5"></textarea>
                <mat-hint>{{form.get('text')?.value ? form.get('text')?.value?.length : 0}}/1000 characters</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Attach files</mat-label>
                <ngx-mat-file-input [formControlName]="'files'" [multiple]="true"></ngx-mat-file-input>
                <button mat-icon-button matSuffix *ngIf="form.get('files').value" (click)="clearFiles()">
                    <mat-icon>clear</mat-icon>
                </button>
                <mat-progress-bar [value]="uploadProgress"></mat-progress-bar>

                <mat-list class="file-list">
                    <mat-list-item *ngFor="let file of files">
                        <mat-icon mat-list-icon>{{resolveFileIcon(file)}}</mat-icon>
                        {{file.name}}
                    </mat-list-item>
                </mat-list>
                <mat-error *ngIf="form.hasError('files')">{{form.getError('files')}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tags</mat-label>
                <input matInput type="text" [formControlName]="'tags'" />
                <mat-hint>A comma separated list of tags, eg. tag1,tag2,tag3</mat-hint>
                <mat-error *ngIf="form.hasError('tags')">{{form.getError('tags')}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Privacy setting</mat-label>
                <mat-select [formControlName]="'privacy'">
                    <mat-option value="everyone">Everyone</mat-option>
                    <mat-option value="contacts" *ngIf="!isGroupPost()">Contacts only</mat-option>
                    <mat-option value="group" *ngIf="isGroupPost()">Group only</mat-option>
                </mat-select>
                <mat-hint></mat-hint>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions matDialogActions [align]="'end'">
        <button mat-raised-button (click)="onSubmit()">Save</button>
        <button mat-raised-button matDialogClose="">Close</button>
    </mat-card-actions>
</mat-card>
