<div fxLayout="column" fxLayoutGap="1em">
    <app-create-post (post)="onPostCreated($event)"></app-create-post>

    <mat-card>
        <mat-card-header>
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="1em">
                    <img class="avatar avatar-big"
                         [src]="user?.avatar ? mediaUrl + user?.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                         loading="lazy"/>
                    <mat-card-title-group fxLayout="column-reverse" fxLayoutGap="0em">
                        <mat-card-subtitle>{{user?.subtitle}}</mat-card-subtitle>
                        <span fxLayout="row" fxLayoutGap="1em">
                            <mat-card-title>
                                <mat-chip>{{user?.username}}</mat-chip>
                            </mat-card-title>
                            <mat-icon matTooltip="This is a premium user" *ngIf="authUser.user.is_premium">workspace_premium</mat-icon>
                        </span>
                    </mat-card-title-group>
                </div>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Profile menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item (click)="openSettings()">
                    <mat-icon>settings</mat-icon>
                    <span>Edit profile</span>
                </button>
                <button mat-menu-item (click)="openContactRequests()">
                    <mat-icon [matBadge]="pendingRequests > 0 ? '!' : ''">manage_accounts</mat-icon>
                    <span>Check contact requests</span>
                </button>
            </mat-menu>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <h2>Summary</h2>
            <p>
                {{user?.summary}}
            </p>
        </mat-card-content>
    </mat-card>

    <mat-tab-group mat-align-tabs="center" selectedIndex="1">
        <mat-tab label="Contacts">
            <mat-card class="mt-2">
                <mat-card-content>
                    <div *ngIf="contacts && contacts.length > 0" fxLayout="column" fxLayoutAlign="center center"
                         fxLayoutGap="1em">
                        <div class="link p-1 br-1em" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em"
                             routerLink="/profile/{{contact.id}}"
                             *ngFor="let contact of contacts">
                            <img class="avatar link"
                                 [src]="contact.avatar ? mediaUrl + contact.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                                 loading="lazy"/>
                            <h2 class="m-a"><b>{{contact.username}}</b></h2>
                        </div>
                    </div>

                    <div *ngIf="contacts && contacts.length <= 0" fxLayout="row"
                         fxLayoutAlign="center center">
                        <img src="assets/resources/img/sentiment_very_dissatisfied_black_48dp.svg" alt="">
                        <b>No contacts</b>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>

        <mat-tab label="Posts">
            <div *ngIf="profilePosts && profilePosts.length > 0" fxLayout="column" fxLayoutGap="2em">
                <app-post-list [posts]="profilePosts" (onPage)="loadPage()"></app-post-list>
            </div>

            <mat-card *ngIf="profilePosts && profilePosts.length <= 0" class="mt-2" fxLayout="row"
                      fxLayoutAlign="center center">
                <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                    <img src="assets/resources/img/sentiment_very_dissatisfied_black_48dp.svg" alt="">
                    <b>No posts</b>
                </mat-card-content>
            </mat-card>
        </mat-tab>

        <mat-tab label="Groups">
            <mat-card class="mt-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
                <div *ngIf="user.groups && user.groups.length > 0">
                    <div class="link p-1 br-1em" *ngFor="let group of user.groups" fxLayout="row"
                         fxLayoutAlign="center center" fxLayoutGap="1em"
                         routerLink="/groups/{{group.id}}">
                        <img *ngIf="group?.avatar_file"
                             class="avatar avatar-thumb"
                             [src]="mediaUrl+'/'+group?.avatar_file.file"
                             loading="lazy"/>
                        <h2 class="m-a"><b>{{group.name}}</b></h2>
                    </div>
                </div>

                <div *ngIf="user.groups && user.groups.length <= 0" fxLayout="row" fxLayoutAlign="center center">
                    <img src="assets/resources/img/sentiment_very_dissatisfied_black_48dp.svg" alt="">
                    <b>No groups</b>
                </div>
            </mat-card>
        </mat-tab>

    </mat-tab-group>

</div>
