<mat-card>
    <mat-card-title class="card-title">
        Pending requests
    </mat-card-title>

    <mat-card-content class="p-1">
        <mat-list *ngIf="requests && requests.length > 0" role="list">
            <mat-list-item *ngFor="let request of requests" role="listitem">
                <div class="item-container" fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px"><img
                        class="avatar"
                        [src]="request.user.avatar ? mediaUrl + request.user.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                        alt=""><a target="_blank"
                                  [routerLink]="'/profile/' + request.user.id">{{request.user.username}}</a></span>
                    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
                        <button mat-mini-fab color="primary" matTooltip="Approve" (click)="approve(request)"><mat-icon>done</mat-icon></button>
                        <button mat-mini-fab color="primary" matTooltip="Reject" (click)="decline(request)"><mat-icon>remove</mat-icon></button>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>

        <div *ngIf="requests && requests.length <= 0" fxLayout="row"
             fxLayoutAlign="center center">
            <mat-icon>cancel</mat-icon>
            <b>No pending requests</b>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-stroked-button mat-dialog-close>Close</button>
    </mat-card-actions>
</mat-card>
