<div class="container">
    <mat-card>
        <mat-card-title class="card-title">Login</mat-card-title>

        <mat-card-content>
            <form [formGroup]="form" fxLayout="column" fxLayoutGap="1em">
                <mat-form-field *ngIf="!tfaEnabled" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput [formControlName]="'email'">
                    <mat-error *ngIf="form.hasError('email')">{{form.getError('email')}}</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="!tfaEnabled" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControlName]="'password'">
                    <mat-hint>Forgot your password? Reset it <a routerLink="/pw-reset">here.</a></mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="tfaEnabled" appearance="outline">
                    <mat-label>Authenticator code</mat-label>
                    <input type="text" matInput [formControlName]="'tfa_code'">
                    <mat-hint>Enter your Two-Factor authentication code</mat-hint>
                    <mat-error *ngIf="form.hasError('tfa_code')">{{form.getError('tfa_code')}}</mat-error>
                </mat-form-field>

                <!--                <mat-error *ngIf="form.hasError('tfa_code')">{{form.getError('tfa_code')}}</mat-error>-->
                <!--                <mat-error *ngIf="form.hasError('email')">{{form.getError('email')}}</mat-error>-->

                <div *ngIf="!tfaEnabled" fxLayout="column" fxLayoutGap="1em">
                    <mat-error *ngIf="form.hasError('not_found')">{{form.getError('not_found')}}</mat-error>
                    <div fxLayout="row">
                        <button mat-raised-button type="button" (click)="onSubmit()">Login</button>
                    </div>
                    <p>Not yet a member? <a routerLink="/register">Join us!</a></p>
                </div>
                <div *ngIf="tfaEnabled">
                    <button mat-raised-button type="button" (click)="onSubmitTfa()">Confirm</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
