<div class="container">
    <mat-card>
        <mat-card-title class="card-title">
            Verify email
        </mat-card-title>

        <mat-card-content>
            <div *ngIf="!success && !error">
                Verifying your email, please wait...
            </div>
            <div *ngIf="!success && error">
                Your token is invalid or has expired.
                <p>Click <a routerLink="/login">here</a> to return to the login page.</p>
            </div>
            <div *ngIf="success && !error">
                <p>You have been successfully verified. You may login now.</p>
                <p>Click <a routerLink="/login">here</a> to return to the login page.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
