<mat-card>
    <mat-card-header>
        <h1>Group settings</h1>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="1em">
            <mat-form-field appearance="outline">
                <mat-label>Group name</mat-label>
                <input type="text" matInput [formControlName]="'name'">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Avatar</mat-label>
                <ngx-mat-file-input [formControlName]="'avatar'" [multiple]="false"
                                    accept="image/*"></ngx-mat-file-input>
                <img *ngIf="group.avatar_file" class="avatar" [src]="mediaUrl+group.avatar_file.file"
                     alt="Current group avatar preview">
                <button mat-icon-button matSuffix *ngIf="form.get('avatar').value" (click)="clearAvatar()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cover image</mat-label>
                <ngx-mat-file-input [formControlName]="'cover'" [multiple]="false"
                                    accept="image/*"></ngx-mat-file-input>
                <img *ngIf="group.cover_file" class="avatar" [src]="mediaUrl+group.cover_file.file"
                     alt="Current grup cover preview">
                <button mat-icon-button matSuffix *ngIf="form.get('cover').value" (click)="clearCover()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <div *ngIf="hasFiles()" fxLayout="row" fxLayoutGap="1em">
                <span>Upload progress:</span>
                <mat-progress-bar [value]="uploadProgress"></mat-progress-bar>
            </div>
            <div fxLayout="row">
                <button mat-raised-button (click)="onSubmit()" type="button">Save</button>
            </div>
        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column" fxLayoutGap="1em">
        <h2>Delete group</h2>
        <p>WARNING: Deleting a group is permanent and cannot be undone.</p>

        <div fxLayout="row">
            <button mat-raised-button *ngIf="!confirmDelete" (click)="onDelete()">Delete</button>
            <button mat-raised-button color="warn" *ngIf="confirmDelete" (click)="onDeleteConfirm()">CONFIRM DELETE
            </button>
        </div>
    </mat-card-content>

    <mat-card-actions matDialogActions align="end">
        <button mat-raised-button [matDialogClose]="group">Close</button>
    </mat-card-actions>
</mat-card>
