<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2em">
    <mat-form-field class="half-width m-a" appearance="outline">
        <mat-label>
            Search
        </mat-label>
        <textarea matInput [formControl]="searchFc" rows="2"></textarea>
        <mat-icon matsuffix
                  matTooltip="Search for post content, group names or users. To search by tags, prepend term with a hash: #example. To search by post author, use at: @user.">
            help
        </mat-icon>
    </mat-form-field>
    <mat-tab-group mat-align-tabs="center" #matTabGroup>
        <mat-tab label="Users" [tabIndex]="0">
            <div *ngIf="results" class="mt-2 mb-2" fxLayout="column" fxLayoutGap="2em">
                <app-profile-card *ngFor="let user of results.users" [user]="user"></app-profile-card>
            </div>
        </mat-tab>
        <mat-tab label="Posts" [tabIndex]="1">
            <div *ngIf="results" class="mt-2" fxLayout="column" fxLayoutGap="2em">
                <app-post *ngFor="let post of results.posts" [post]="post"></app-post>
            </div>
        </mat-tab>
        <mat-tab label="Groups" [tabIndex]="2">
            <div *ngIf="results" class="mt-2 mb-2" fxLayout="column" fxLayoutGap="2em">
                <app-group-card *ngFor="let group of results.groups" [group]="group"></app-group-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
