<!-- <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile> -->
<div fxLayout="column" fxLayoutGap="1em">
    <app-create-group (group)="onGroupCreated($event)"></app-create-group>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">
        <app-group-card *ngFor="let group of groups" [group]="group"></app-group-card>
    </div>
</div>
    <!-- </mat-grid-tile>
</mat-grid-list> -->
