<mat-card routerLink="/groups/{{group.id}}">
    <mat-card-header>
        <img *ngIf="group.avatar_file" class="avatar avatar-big" [src]="mediaUrl + group.avatar_file.file" alt="">
        <mat-card-title-group>
            <mat-card-title>
                <mat-chip>{{group.name}}</mat-chip>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>

    <mat-card-footer>
        Created at {{group.created_at | date: 'dd/MM/yyyy hh:mm a'}}
    </mat-card-footer>
</mat-card>
