<app-create-post (post)="onPostCreated($event)"></app-create-post>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">
    <app-post-list [posts]="feedItems" (onPage)="loadPage()"></app-post-list>
</div>
