<mat-card>
    <mat-card-header>
        <div mat-card-avatar routerLink="/profile/{{post.author.id}}">
            <img class="avatar link"
                 [src]="post.author.avatar ? mediaUrl + post.author.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                 loading="lazy"/>
        </div>
        <mat-card-title-group>
            <mat-card-title>
                <div fxLayout="row">
                    <mat-chip routerLink="/profile/{{post.author.id}}">{{post.author.username}}</mat-chip>
                </div>
                <div *ngIf="post.group && !hideGroup">
                    <span>In group</span>
                    <mat-chip routerLink="/groups/{{post.group.id}}">{{post.group.name}}</mat-chip>
                </div>
            </mat-card-title>
        </mat-card-title-group>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addComment()">
                <mat-icon>comment</mat-icon>
                <span>Add comment</span>
            </button>
            <button *ngIf="isOwnedByUser()" mat-menu-item (click)="deletePost()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-header>

    <mat-divider *ngIf="hasFiles()"></mat-divider>

    <mat-card-content *ngIf="hasFiles()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
        <button *ngIf="visibleIndex>0" class="media-control prev" mat-mini-fab (click)="prevMedia()">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <img *ngIf="isImage(post.files[visibleIndex])" class="post-content"
             [src]="mediaUrl+post.files[visibleIndex].file" (click)="openImage(post.files[visibleIndex])">

        <video *ngIf="isVideo(post.files[visibleIndex])" class="post-content" controls>
            <source [src]="mediaUrl+post.files[visibleIndex].file"
                    [type]="post.files[visibleIndex].type">
        </video>

        <audio *ngIf="isAudio(post.files[visibleIndex])" [src]="mediaUrl+post.files[visibleIndex].file"
               controls></audio>

        <button *ngIf="visibleIndex < (post.files.length - 1)" class="media-control next" mat-mini-fab
                (click)="nextMedia()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
        <h3>{{post.text}}</h3>
        <p>{{post.created_at | date: 'dd/MM/yyyy hh:mm a'}}</p>

        <mat-chip-list *ngIf="post.tags">
            <mat-chip *ngFor="let tag of post.tags">{{tag}}</mat-chip>
        </mat-chip-list>

        <p *ngIf="!isLikedByUser()">{{likeCount}} people like this</p>
        <div>
            <p *ngIf="likeCount === 1 && isLikedByUser()">You like this</p>
            <p *ngIf="likeCount > 1 && isLikedByUser()">You and {{likeCount - 1}} people like this</p>
        </div>
    </mat-card-footer>

    <mat-card-footer fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="row" fxLayoutGap="1em">
            <mat-chip selected *ngIf="!isLikedByUser()" color="primary" (click)="like()">Like</mat-chip>
            <mat-chip selected *ngIf="isLikedByUser()" color="accent" (click)="unlike()">Unlike</mat-chip>
            <mat-chip selected color="primary" (click)="addComment()">Add comment</mat-chip>
        </div>
        <app-comment-section [comments]="post.comments"></app-comment-section>
    </mat-card-footer>
</mat-card>
