.post-content {
    max-height: 400px;
    //height: 90%;
    //margin: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.post-image:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

mat-card {
    margin: 0 auto;
}

mat-card-content {
    margin: 2em 0;
    height: 400px;
}

.media-control {
    visibility: hidden;
    opacity: 0;
    align-self: center;
    position: absolute;

    &.prev {
        left: 2em;
    }

    &.next {
        right: 2em;
    }
}

mat-card-content:hover .media-control {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
