mat-card {
    margin: auto auto 2em;

    &.header {
        width: 1200px;
    }
}

mat-card-content {
    height: 450px;
    overflow: hidden;
    display: flex;

    img {
        //max-height: 450px;
        max-width: 1200px;
        margin: auto;
    }
}
