<div fxLayout="column" fxLayoutGap="1em">
    <app-create-post *ngIf="canPost" [group]="group" (post)="onPostCreated($event)"></app-create-post>

    <mat-card class="header">
        <mat-card-content *ngIf="group.cover_file">
            <img class="cover" [src]="group.cover_file.file ? mediaUrl + group.cover_file.file : ''">
        </mat-card-content>

        <mat-card-header>
            <mat-card-title-group>
                <img *ngIf="group.avatar_file" class="avatar avatar-big"
                     [src]="group.avatar_file.file ? mediaUrl + group.avatar_file.file : ''"
                     alt="">
                <mat-card-title>
                    <mat-chip>{{group.name}}</mat-chip>
                </mat-card-title>
            </mat-card-title-group>

            <button *ngIf="status === enum.ADMIN || status === enum. OWNER || status === enum.MEMBER" mat-icon-button
                    [matMenuTriggerFor]="menu" aria-label="Group menu"
                    [matBadge]="pendingRequests.length > 0 ? '!' : ''">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu>
                <button *ngIf="status === enum.ADMIN || status === enum. OWNER" mat-menu-item
                        (click)="openSettings()">
                    <mat-icon>settings</mat-icon>
                    <span>Edit group</span>
                </button>
                <button *ngIf="status === enum.ADMIN || status === enum. OWNER" mat-menu-item (click)="openRequests()">
                    <mat-icon [matBadge]="pendingRequests.length">pending</mat-icon>
                    <span>Requests</span>
                </button>
                <button *ngIf="status === enum.MEMBER" mat-menu-item (click)="leave()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Leave group</span>
                </button>
            </mat-menu>
        </mat-card-header>

        <mat-card-actions>
            <button *ngIf="status === enum.NONE" mat-stroked-button (click)="sendJoinRequest()">Join group</button>
            <button *ngIf="status === enum.PENDING" mat-stroked-button (click)="cancelRequest()">Cancel request
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Posts">
            <app-post-list [posts]="posts" [hideGroup]="true" (onPage)="loadPage()"></app-post-list>
        </mat-tab>

        <mat-tab label="Members">
            <mat-card style="margin: 2em auto;">
                <mat-card-header>
                    <h1>Group members</h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item class="mb-2" *ngFor="let member of members">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                                <img class="avatar link" routerLink="/profile/{{member.user.id}}"
                                     [src]="member.user.avatar ? mediaUrl + member.user.avatar : 'assets/resources/img/default_avatar_48dp.svg'"
                                     loading="lazy"/>
                                <h2 class="mb-0">{{member.user.username}}</h2>

                                <mat-icon matTooltip="Group owner"
                                          *ngIf="member.user.id === this.group.owner.id">star
                                </mat-icon>

                                <button *ngIf="isOwner() && member.user.id !== authUser.userId" mat-icon-button
                                        [matMenuTriggerFor]="userMenu" aria-label="Profile menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #userMenu>
                                    <button mat-menu-item (click)="kickMember(member)">
                                        <mat-icon>person_remove</mat-icon>
                                        <span>Kick member</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

