<mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <ngx-mat-file-input [formControl]="formControl" [multiple]="false"></ngx-mat-file-input>
    <mat-progress-bar [value]="uploadProgress"></mat-progress-bar>
</mat-form-field>
