<div class="container">
    <mat-card>
        <mat-card-title class="card-title">
            Reset password
        </mat-card-title>

        <mat-card-content>
            <form *ngIf="!token && !sent" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column"
                  fxLayoutGap="1em">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput [formControlName]="'email'">
                </mat-form-field>
                <div fxLayout="row">
                    <button mat-raised-button type="submit">Recover</button>
                </div>
                <p>A recovery link will be sent to your email address.</p>
                <p>Return to <a routerLink="/login">login</a>.</p>
            </form>

            <form *ngIf="token && !sent" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1em">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input type="password" matInput [formControlName]="'password'">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Repeat new password</mat-label>
                    <input type="password" matInput [formControlName]="'password_repeat'">
                </mat-form-field>
                <mat-error *ngIf="form.hasError('password_repeat')">{{form.getError('password_repeat')}}</mat-error>
                <mat-error *ngIf="form.hasError('token')">{{form.getError('token')}}</mat-error>
                <button mat-raised-button type="submit">Reset</button>
            </form>

            <div *ngIf="sent" fxLayout="column" fxLayoutGap="1em">
                <p>A reset link has been sent to your e-mail inbox. Please allow 5 minutes for it to arrive.</p>
                <p>Click <a routerLink="/login">here</a> to return to the login page.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
