<div class="container">
    <mat-card>
        <mat-card-content>
            <p>You have canceled your order for premium membership.</p>
            <p>You will be automatically redirected to your profile page in 10 seconds.</p>
            <p><a routerLink="/profile">Click here to do that manually</a></p>
        </mat-card-content>
    </mat-card>
</div>
