<div class="container">
    <mat-card>
        <mat-card-content>
            <p>Congratulations, You have been upgraded to a premium user!</p>
            <p>You will be automatically redirected to your profile page in 10 seconds.</p>
            <p><a routerLink="/profile">Click here to do that manually</a></p>
        </mat-card-content>
    </mat-card>
</div>
