<div class="container">
    <mat-card>
        <mat-card-title class="card-title">Registration</mat-card-title>

        <mat-card-content fxLayout="column" fxLayoutGap="1em">
            <form *ngIf="!success" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1em">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input type="text" matInput [formControlName]="'email'">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input type="text" matInput [formControlName]="'username'">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControlName]="'password'">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Repeat Password</mat-label>
                    <input type="password" matInput [formControlName]="'password2'">
                </mat-form-field>

                <div fxLayout="row">
                    <button mat-raised-button type="submit">Register</button>
                </div>

                <p>Already a member? <a routerLink="/login">Sign in!</a></p>
            </form>

            <div *ngIf="success">
                <p>A verification email has been sent to your e-mail address. You will need to verify before you can
                    login.</p>
                <p>Click <a routerLink="/login">here</a> to return to the login page.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
