<mat-card>
    <mat-card-title class="card-title">
        Create a new group
    </mat-card-title>

    <mat-card-content class="p-1">
        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Group name</mat-label>
                <input type="text" matInput [formControlName]="'name'"/>
            </mat-form-field>
            <p>You will be able to customize your group once you create it.</p>
        </form>
    </mat-card-content>

    <mat-card-actions matDialogActions [align]="'end'">
        <button mat-raised-button (click)="onSubmit()">Save</button>
        <button mat-raised-button matDialogClose="">Close</button>
    </mat-card-actions>
</mat-card>
