<div class="container">
    <mat-card>
        <mat-card-title class="card-title">About</mat-card-title>

        <mat-card-content fxLayout="column" fxLayoutGap="1em">
            <p>Commune is a social network developed as part of my master's thesis on the topic of "Social network
                development and monetization on Phalcon PHP framework" through which I showcase the process of
                developing a simple social network.</p>
            <p>Additionally, the topic of monetization is investigated and a model is chosen and applied for the
                developed social network. Part of the chosen monetization model relies on Patreon as a source of
                voluntary donation. </p>
            <p>Follow me on <a href="https://www.patreon.com/commune_net">Patreon</a>!</p>
        </mat-card-content>
    </mat-card>
</div>
