.their-message {
    place-self: start;
    background: white;
    padding: 0.5em;
    border-radius: 2em;
    //box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.own-message {
    place-self: end;
    background: white;
    padding: 0.5em;
    border-radius: 2em;
    //box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.chat-container {
    min-height: 100%;
}

.user-chat {
    background: #e3e3e3;
    padding: 2em;
    border-radius: 1em;
    overflow-y: auto;
    max-height: 80vh;
}

.scroll-block {
    height: 50px;
}

.chat-list {
    overflow: auto;
    min-height: 100%;

    mat-list-item {
        height: 84px;
        padding: 10px 0;

        &.active {
            background-color: #e3e3e3;
            border-radius: 1em;
        }
    }

    mat-list-item:hover {
        cursor: pointer;
        background-color: #e3e3e3;
        border-radius: 1em;
    }
}

.chat-input {
    position: sticky;

    mat-form-field {
        width: 100%;
    }
}
