<div class="chat-container" fxLayout="row" fxLayoutGap="2em">
    <div fxFlex.gt-md="15" fxFlex.lt-lg="300px" fxLayout="column">
        <!-- chat list -->
        <h2>Chats</h2>
        <mat-list class="chat-list">
            <mat-list-item *ngFor="let chat of chats" [class.active]="activeChat && activeChat.id === chat.id"
                           fxLayout="column"
                           fxLayoutGap="1em" (click)="onOpenChat(chat)">
                <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
                    <img class="avatar link" src="{{getChatAvatar(chat)}}" alt="">
                    <span>{{getChatName(chat)}}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div *ngIf="activeChat && messages" class="user-chat" fxFlex.gt-md="85" fxFlex.lt-lg="75" fxLayout="column"
         fxLayoutGap="1em">
        <div class="scroll-block"></div>
        <!-- user chat -->
        <button *ngIf="messages && messages.length > 0" class="m-a" mat-icon-button appDebounceClick
                (debounceClick)="onLoad()">
            <mat-icon>refresh</mat-icon>
            Load more
        </button>
        <div class="chat-section" *ngFor="let message of messages" fxLayout="column">
            <div class="their-message" *ngIf="!isUsersMessage(message)">
                <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                    <img class="avatar avatar-thumb link"
                         routerLink="/profile/{{message.user.id}}}"
                         [src]="message.user.avatar ? (mediaUrl + message.user.avatar) : 'assets/resources/img/default_avatar_48dp.svg'"/>
                    <span>{{message.text}}</span>
                </span>
            </div>
            <div class="own-message" *ngIf="isUsersMessage(message)" fxLayoutAlign="center center">
                <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                    <span>{{message.text}}</span>
                    <img class="avatar avatar-thumb"
                         [src]="message.user.avatar ? (mediaUrl + message.user.avatar) : 'assets/resources/img/default_avatar_48dp.svg'"/>
                </span>
            </div>
        </div>
        <div class="chat-input">
            <mat-divider></mat-divider>
            <mat-form-field class="full-width" appearance="outline">
                <div fxLayout="row" class="full-width" fxLayoutGap="1em" fxLayoutAlign="space-between">
                    <div class="full-width">
                        <textarea type="text" matInput [formControl]="messageFc" [disabled]="!isContact"
                                  [matTooltip]="!isContact ? 'You cannot send messages to this user as you are not in their contacts.' : isDeleted ? 'You cannot send messages to this user as they have deleted their account.' : ''"
                                  placeholder="Message"
                                  (keypress)="sendMsg($event)"></textarea>
                    </div>
                    <button mat-raised-button type="button" (click)="sendMsg()">Send</button>
                </div>
            </mat-form-field>
        </div>
    </div>
</div>
