<mat-card>
    <mat-card-title class="card-title">
        Profile settings
    </mat-card-title>

    <mat-card-content>
        <h2>User info</h2>
        <form [formGroup]="profileForm" fxLayout="column" fxLayoutGap="1em">
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Primary e-mail</mat-label>
                <input type="text" matInput [formControlName]="'email'">
                <mat-hint>Changing your primary e-mail address will re-initiate the verification process.</mat-hint>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput [formControlName]="'username'">
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Subtitle</mat-label>
                <input type="text" matInput [formControlName]="'subtitle'">
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Summary</mat-label>
                <textarea matInput [formControlName]="'summary'" rows="5"></textarea>
            </mat-form-field>
            <mat-form-field class="half-width" appearance="outline">
                <mat-label>Avatar</mat-label>
                <ngx-mat-file-input [formControlName]="'avatar'" [multiple]="false"
                                    accept="image/*"></ngx-mat-file-input>
                <mat-progress-bar [value]="uploadProgress"></mat-progress-bar>
                <mat-error *ngIf="profileForm.hasError('avatar')">{{profileForm.getError('avatar')}}</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions matDialogActions align="start">
        <button mat-raised-button (click)="onSubmit()">Save</button>
    </mat-card-actions>
</mat-card>

<mat-divider style="margin: 0 1em"></mat-divider>

<mat-card>
    <mat-card-content>
        <h2>Two-Factor authentication</h2>
        <form [formGroup]="tfaForm" class="m-a">
            <mat-slide-toggle [formControl]="tfaToggleFc" (toggleChange)="onTfaToggle()">Two-Factor Authentication
            </mat-slide-toggle>
            <br>
            <div *ngIf="tfaToggleFc.value && !user.tfa_enabled">
                <mat-spinner *ngIf="loading">
                </mat-spinner>
                <div *ngIf="!loading" fxLayout="column" fxLayoutGap="1em">
                    <img #qrCode src="{{tfaResponse?.qr_code}}" alt="" width="200">

                    <p>Please scan the above QR code using your authenticator app.</p>

                    <div>
                        <p>If you cannot scan the code or it is not visible, enter the following data: </p>
                        <mat-list class="dense-list">
                            <mat-list-item>Secret: {{tfaResponse?.secret}}</mat-list-item>
                            <mat-list-item>Hash function: SHA1</mat-list-item>
                            <mat-list-item>Type: TOTP</mat-list-item>
                            <mat-list-item>Period: 30 seconds</mat-list-item>
                        </mat-list>
                    </div>

                    <mat-form-field appearance="outline" fxLayout="row">
                        <mat-label>Authenticator code</mat-label>
                        <input matInput type="text" formControlName="tfa_code">
                        <mat-hint>Enter the code from your authenticator app</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div *ngIf="user.tfa_enabled">
                <p>Two-Factor authentication is currently enabled. Press the below button to disable it.</p>
                <button mat-raised-button (click)="disableTfa()">Disable 2FA</button>
            </div>
        </form>
    </mat-card-content>

    <mat-card-actions *ngIf="!user.tfa_enabled" matDialogActions align="start">
        <button mat-raised-button (click)="onSubmitTfa()">Verify</button>
    </mat-card-actions>
</mat-card>

<mat-divider style="margin: 0 1em"></mat-divider>

<mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="1em">
        <h2>Billing and premium</h2>
        <div *ngIf="!authUser.user.is_premium">
            <p>A premium subscription is voluntary, but helps us run the servers as well as offers several benefits:</p>
            <ul>
                <li>Upload limit increased from 8MB to 64MB</li>
                <li>Profile badge</li>
                <li>Animated avatars (gifs)</li>
            </ul>

            <button mat-raised-button type="button" (click)="buyPremium()">Buy</button>
        </div>

        <div *ngIf="authUser.user.is_premium">
            <mat-icon>workspace_premium</mat-icon>
            <p>You are a premium user and are enjoying the following benefits</p>
            <ul>
                <li>Upload limit increased from 8MB to 64MB</li>
                <li>Profile badge</li>
                <li>Animated avatars (gifs)</li>
            </ul>
        </div>

        <p>You can also support us on <a href="https://www.patreon.com/commune_net?fan_landing=true" target="_blank">Patreon</a>!
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="1em">
        <h2>Delete account</h2>

        <p>WARNING:</p>
        <p>Deleting your account is not a reversible action. Once you have delete your account, it is final and all data
            will be unrecoverable!</p>

        <div fxLayout="row">
            <button *ngIf="!isConfirmDelete" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
            <button *ngIf="isConfirmDelete" mat-raised-button color="warn" (click)="onConfirmDelete()">CONFIRM DELETE
            </button>
        </div>
    </mat-card-content>
</mat-card>
