/* You can add global styles to this file, and also import other style files */

@use "assets/styles/mat-card";
@use "assets/styles/mat-dialog";
@use "assets/styles/mat-form";
@use "assets/styles/mat-nav";
@use "assets/styles/mat-list";
//@use "node_modules/@vime/core/themes/default.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    background-color: #FAFAFA;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    margin: auto;
    max-width: 800px;
    height: 100%;
}

.scroll-container {
    overflow: auto;
}

.avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;

    &.avatar-thumb {
        height: 32px;
        width: 32px;
    }

    &.avatar-big {
        height: 128px;
        width: 128px;
    }

    &.avatar-navbar {
        height: 42px;
        width: 42px;
    }
}

.link:hover {
    cursor: pointer;
    //filter: drop-shadow(0 0 3px grey);
    //transition: filter 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px gray;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1em !important;
}

.p-2 {
    padding: 2em !important;
}

.m-a {
    margin: auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1em !important;
}

.m-2 {
    margin: 2em !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 1em !important;
}

.ml-2 {
    margin-left: 2em !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 1em !important;
}

.mr-2 {
    margin-right: 2em !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 1em !important;
}

.mb-2 {
    margin-bottom: 2em !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1em !important;
}

.mt-2 {
    margin-top: 2em !important;
}

.br-1 {
    border-radius: 10%;
}

.br-1em {
    border-radius: 1em;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center {
    margin: auto;
}
