mat-card {
    width: 800px;
    contain: layout;
}

mat-card-content {
    max-height: 600px;
    overflow-y: auto;
}

mat-card-footer {
    padding: 16px;
}

mat-card-header {
    min-height: 75px;
    padding: 8px;
}

.card-title {
    background: #3f51b5;
    padding: 15px;
    border-radius: 5px;
    color: white;
}
