<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em" style="margin: 2em auto;">
    <app-post *ngFor="let post of posts" [post]="post" [hideGroup]="hideGroup" (onDelete)="onDelete($event)"></app-post>

    <button class="m-a" mat-icon-button appDebounceClick (debounceClick)="onLoad()">
        <mat-icon>refresh</mat-icon>
        Load more
    </button>
</div>
