<mat-card>
    <mat-card-title class="card-title">
        Pending contact requests
    </mat-card-title>

    <mat-card-content class="p-1">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <mat-list *ngIf="requests && requests.length > 0" role="list" fxLayout="column" fxLayoutAlign="center"
                  fxLayoutGap="1em">
            <mat-list-item *ngFor="let request of requests" role="listitem">
                <div class="item-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
                    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                        <img class="avatar link"
                             [src]="getUserRequestAvatar(request)"
                             alt="">
                        <a target="_blank"
                           [routerLink]="'/profile/' + getUserRequestId(request)">{{getUserRequestUsername(request)}}</a>
                    </span>
                    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                        <button mat-mini-fab color="primary" matTooltip="Approve" (click)="accept(request)"><mat-icon>done</mat-icon></button>
                        <button mat-mini-fab color="primary" matTooltip="Reject" (click)="decline(request)"><mat-icon>remove</mat-icon></button>
                    </span>
                </div>
            </mat-list-item>
        </mat-list>

        <div *ngIf="requests && requests.length <= 0" fxLayout="row"
             fxLayoutAlign="center center">
            <mat-icon>cancel</mat-icon>
            <b>No pending requests</b>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button mat-dialog-close>Close</button>
    </mat-card-actions>
</mat-card>
